header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(#FFD507, red );
  width: 100vw;
  color: white;
}
#spacenet{
  /* text-align: center; */
  margin-left: 14%;
}
#h3{
  height: 5vh;
}
p{
  margin-left: 14%;
  margin-top: -3%;
}
#header{
  display: flex;
  flex-direction: column;
  width: 100vh;
}
#bonjour_user{
  float: right;
  margin-top: -4%;
  margin-right: 10%;
  font-size: 15px;
}